/* ===== GENERAL ===== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:#111;

    color:white;

    font-family:Georgia, serif;

    overflow:hidden;

}

/* ===== HIDDEN ===== */

.hidden{

    display:none;

}

/* ===== TITLE SCREEN ===== */

#titleScreen{

    width:100vw;

    height:100vh;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    gap:20px;

    background:#0f0f0f;

}

#titleScreen h1{

    font-size:64px;

    letter-spacing:6px;

}

#titleScreen h2{

    color:#c9b27c;

}

#startButton{

    padding:18px 40px;

    font-size:20px;

    cursor:pointer;

}

/* ===== GAME ===== */

#gameScreen{

    width:100vw;

    height:100vh;

    flex-direction:column;

}

#gameScreen:not(.hidden){

    display:flex;

}

/* ===== HEADER ===== */

header{

    height:70px;

    background:#1a1a1a;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:20px;

}

/* ===== LAYOUT ===== */

#mainLayout{

    flex:1;

    display:grid;

    grid-template-columns:250px 1fr 250px;

}

/* ===== LEFT / RIGHT PANELS ===== */

#leftPanel,
#rightPanel{

    background:#202020;

    padding:20px;

}

#portrait{

    width:120px;

    height:120px;

    background:#444;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:60px;

    margin:20px auto;

}

/* ===== CENTER ===== */

#centerPanel{

    display:flex;

    flex-direction:column;

    background:#111;

}

/* ===== SCENE ===== */

#scene{

    flex:1;

    position:relative;

    overflow:hidden;

}

#sceneImage{

    width:100%;

    height:100%;

    object-fit:cover;

    display:block;

}

/* ===== HOTSPOTS ===== */

.hotspot{

    position:absolute;

    background:rgba(255,255,255,.15);

    border:2px dashed rgba(255,255,255,.4);

    cursor:pointer;

}

/* temporary positions */

.desk{

    left:25%;

    top:58%;

    width:15%;

    height:18%;

}

.cell{

    right:18%;

    top:32%;

    width:18%;

    height:45%;

}

.door{

    left:8%;

    top:20%;

    width:14%;

    height:60%;

}

.window{

    right:6%;

    top:8%;

    width:16%;

    height:25%;

}

/* ===== DIALOGUE ===== */

#dialogueBox{

    height:160px;

    background:#1d1d1d;

    padding:20px;

}

#speaker{

    color:#d6b56d;

    font-weight:bold;

    margin-bottom:10px;

}

/* ===== INVENTORY ===== */

footer{

    background:#1a1a1a;

    padding:15px;

}

#inventory{

    display:flex;

    gap:10px;

    margin-top:10px;

}

.slot{

    width:70px;

    height:70px;
.hidden{
    display:none !important;
}
    background:#333;

    border:2px solid #666;

}
